h1{border: 2px double rgb(255, 255, 255);
    height: 39px;
    width: 145px;;
    border-radius: 10px;
    font-family: Impact;
}
nav{
    height: 39px;
   font-size: 200%;
    border: 2px double rgb(255, 255, 255);
    border-radius: 10px;
}
header{
    margin: 20px;
    font-size: 150%;
}
body {
    background-color: black;
    color:white;
    font-family: Verdana;
}
span{
    background-color: rgb(255, 145, 0);
    border-radius: 7px;
}
button{
    background-color: rgb(255, 145, 0);
    font-size: 130%;
    border-radius: 5px;
    border: 2px double rgb(255, 255, 255)
}
input{
    background-color: black;
    font-size: 150%;
    border:2px double rgb(255, 145, 0);
    border-radius: 10px;
    width: 600px;
    color: white;
}
button.Search{
    color: white ;
    height: 39px;
    font-size: 200%;
    border: 2px double rgb(255, 255, 255);
    border-radius: 10px;
}